<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deusto Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="title-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Icono" class="title-icon">
            <h1>Deusto Weather</h1>
        </div>

        <!-- Gráfico de Temperatura -->
        <div class="chart-container">
            <h2 id="temperature-title">Temperatura</h2>
            <canvas id="temperatureChart" class="chart-full"></canvas>
        </div>

        <!-- Gráfico de Humedad -->
        <div class="chart-container chart-half">
            <h2 id="humidity-title">Humedad</h2>
            <canvas id="humidityChart"></canvas>
        </div>

        <!-- Gráfico de Intensidad Lumínica -->
        <div class="chart-container chart-half">
            <h2 id="light-title">Intensidad Lumínica</h2>
            <canvas id="lightChart"></canvas>
        </div>

        <!-- Gráfico de Presión Atmosférica -->
        <div class="chart-container">
            <h2 id="pressure-title">Presión Atmosférica</h2>
            <canvas id="pressureChart" class="chart-full"></canvas>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2024 Trio Calavera. Todos los derechos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
