<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deusto Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="title-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Icono" class="title-icon">
            <h1>Deusto Weather</h1>
        </div>

        <div class="chart-row">
            <div class="chart-half">
                <h2 id="temperature-title">Temperatura</h2>
                <canvas id="temperatureChart" class="chart-full"></canvas>
            </div>
            <div class="chart-half">
                <h2 id="pressure-title">Presión Atmosférica</h2>
                <canvas id="pressureChart" class="chart-full"></canvas>
            </div>
        </div>

        <div class="chart-row">
            <div class="chart-half">
                <h2 id="humidity-title">Humedad</h2>
                <canvas id="humidityChart" class="chart-full"></canvas>
            </div>
            <div class="chart-half">
                <h2 id="light-title">Intensidad Lumínica</h2>
                <canvas id="lightChart" class="chart-full"></canvas>
            </div>
        </div>

        <div class="chart-row">
            <div class="chart-half">
                <h2 id='rain-title'>Probabilidad de Lluvia</h2>
                <canvas id="rainChart" class="chart-full"></canvas>
            </div>
        </div>
    </div>

    <footer class="footer">
        © 2024 Deusto Weather Team
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>